<div class="board-directive">
    <table class="board size-x-{{board.sizeX}} size-y-{{board.sizeY}}">
        <tr class="row" ng-repeat="row in range(board.sizeY)">
            <td class="col" ng-repeat="col in range(board.sizeX)"></td>
        </tr>
    </table>
    <div class="ships" ng-if="showShips">
        <div class="ship pos-x-{{ship.posX}} pos-y-{{ship.posY}} size-{{ship.size}}"
             ng-class="{'vertical':!ship.isHorizontal}" ng-repeat="ship in board.ships">
        </div>
    </div>
    <div class="hits">
        <div class="ship-hits" ng-if="ship.isHit()" ng-repeat="ship in board.ships">
            <div class="hit pos-x-{{hit.getAbsPos().posX}} pos-y-{{hit.getAbsPos().posY}}"
                 ng-if="hit.isHit" ng-repeat="hit in ship.hitTargets">
            </div>
        </div>
    </div>
    <div class="miss-hits">
        <div class="miss-hit pos-x-{{missHit.posX}} pos-y-{{missHit.posY}}"
             ng-repeat="missHit in board.missHits">
        </div>
    </div>
</div>
